<app-loadable [loadable]="projects$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="space-between center"
    fxLayoutGap="2rem"
    class="page__container"
  >
    <div *ngFor="let project of (projects$ | async).summaries" class="project__card">
      <mat-card>
        <mat-card-title class="project__card-header">{{ project.name }}</mat-card-title>
        <br />
        <div class="project__card-text">{{ project.description.split('\n')[0] }}</div>
        <mat-card-actions>
          <div fxFlex></div>
          <a routerLink="{{ project.id }}"><button mat-button>MORE</button></a>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</app-loadable>
