:host {
  flex: 1;
  padding: 20px 50px;
}

mat-list.list-horizontal {
  padding: 1rem;
  text-align: center;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    margin: auto;
  }
}

.mat-checkbox {
  margin-left: 10px;
}

.content-body .filter-section {
  padding-left: 10px;
  padding-right: 10px;
}

.content-body .filter-section > div {
  display: inline;
}

.content-body .data-set-section {
  //max-height: 500px;
  margin-top: 24px;
}
