<mat-sidenav-container class="root__container">
  <mat-sidenav mode="side" class="sidebar__nav" [(opened)]="navbarOpen">
    <mat-nav-list>
      <mat-list-item>
        <mat-icon mat-list-icon>class</mat-icon>
        <a mat-line [routerLink]="['summary']">Summary</a>
      </mat-list-item>
      <div mat-subheader>Optimization</div>
      <mat-list-item>
        <mat-icon mat-list-icon>dns</mat-icon>
        <a mat-line [routerLink]="['training-set']">Data Sets</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>scatter_plot</mat-icon>
        <a mat-line [routerLink]="['training-results']">Results</a>
      </mat-list-item>
      <div mat-subheader>Benchmarking</div>
      <mat-list-item>
        <mat-icon mat-list-icon>dns</mat-icon>
        <a mat-line [routerLink]="['test-set']">Data Sets</a>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>bar_chart</mat-icon>
        <a mat-line [routerLink]="['test-results']">Results</a>
      </mat-list-item>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <div fxLayout="row" class="root__container">
      <div class="sidenav__button-container">
        <button
          mat-mini-fab
          color="primary"
          (click)="navbarOpen = !navbarOpen"
          class="sidebar__button"
        >
          <mat-icon *ngIf="navbarOpen"> menu_open</mat-icon>
          <mat-icon *ngIf="!navbarOpen"> menu</mat-icon>
        </button>
      </div>
      <div class="sidenav__inner-content">
        <router-outlet></router-outlet>
      </div>
    </div>
  </mat-sidenav-content>
</mat-sidenav-container>
