<div class="content-container">
  <app-loadable [loadable]="study$ | async">
    <div
      id="studySummarySection"
      class="content-body"
      fxLayout="column"
      fxLayoutAlign="space-between center"
      fxLayoutGap="24px"
    >
      <h1>{{ (study$ | async).name }}</h1>

      <h3 class="id-header">(id={{ (study$ | async).id }})</h3>

      <div class="content-card">
        <mat-card>
          <app-text-description
            [text]="(study$ | async).description"
          ></app-text-description>
        </mat-card>
      </div>

      <h2 id="optimizations">Optimizations</h2>

      <div
        class="content-card"
        *ngFor="let optimization of (study$ | async).optimizations"
      >
        <app-summary-card
          [baseLink]="'optimizations'"
          [summary]="optimization"
        ></app-summary-card>
      </div>

      <h2 id="benchmarks">Benchmarks</h2>

      <div class="content-card" *ngFor="let benchmark of (study$ | async).benchmarks">
        <app-summary-card
          [baseLink]="'benchmarks'"
          [summary]="benchmark"
        ></app-summary-card>
      </div>
    </div>

    <app-table-of-contents [container]="'studySummarySection'"></app-table-of-contents>
  </app-loadable>
</div>
