<app-loadable [loadable]="study$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="page__container"
  >
    <h2>{{ (study$ | async).name }}</h2>

    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxFlex
      class="section__container"
    >
      <mat-card>
        <app-text-description
          [text]="(study$ | async).description"
        ></app-text-description>
      </mat-card>
    </div>

    <div
      fxLayout="row"
      fxLayout.xs="column"
      fxLayout.sm="column"
      fxFlex
      class="section__container"
      fxLayoutGap="2rem"
    >
      <div fxFlex>
        <h2 class="section__header">Optimizations</h2>
        <app-optimization-card
          *ngFor="let optimization of (study$ | async).optimizations; last as last"
          [optimization]="optimization"
          [className]="last ? '' : 'section__spacer'"
        >
        </app-optimization-card>
      </div>
      <div fxFlex>
        <h2 class="section__header">Benchmarks</h2>
        <app-benchmark-card
          *ngFor="let benchmark of (study$ | async).benchmarks; last as last"
          [benchmark]="benchmark"
          [className]="last ? '' : 'section__spacer'"
        >
        </app-benchmark-card>
      </div>
    </div>
  </div>
</app-loadable>
