:host {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.root__container {
  padding: 20px;
  height: 100%;
  width: 100%;
}

.inner__container {
  overflow: auto;
  height: 100%;
  width: 100%;
}

.graph__container {
  margin: auto;
  min-height: 100px;
}

.project__card-header {
  text-align: center;
}

.mat-radio-button ~ .mat-radio-button {
  margin-left: 16px;
}
