:host {
  flex: 1;
  padding: 20px 50px;
}

mat-list.list-horizontal {
  padding: 1rem;
  text-align: center;

  .mat-list-item {
    display: inline-block;
    height: auto;
    width: auto;
    margin: auto;
  }
}

.tile__container {
  border: 1px solid lightgrey;
}

.dataset__card_container {
  overflow: auto;
}

.substance__tile {
}
