<mat-card class="target__card">
  <mat-card-content class="specification__text">
    <span><b>Type: </b>OpenFF Recharge</span>
  </mat-card-content>
  <mat-card-subtitle>Properties</mat-card-subtitle>
  <mat-divider class="spaced-divider" inset></mat-divider>
  <mat-card-content class="specification__text">
    <span
      ><b>Id: </b> <i>{{ target.id }}</i></span
    >
    <span
      ><b>Weight: </b> <i>{{ target.weight }}</i></span
    >
  </mat-card-content>
  <mat-card-subtitle>Grid Settings</mat-card-subtitle>
  <mat-divider class="spaced-divider" inset></mat-divider>
  <mat-card-content class="specification__text">
    <span><b>Type:</b> {{ target.grid_settings.type }}</span>
    <span><b>Spacing:</b> {{ target.grid_settings.spacing }}</span>
    <span><b>Inner vdW scale:</b> {{ target.grid_settings.inner_vdw_scale }}</span>
    <span><b>Outer vdW scale:</b> {{ target.grid_settings.outer_vdw_scale }}</span>
  </mat-card-content>
  <mat-card-subtitle>Training Data</mat-card-subtitle>
  <mat-divider class="spaced-divider" inset></mat-divider>
  <mat-card-content class="specification__text">
    <span><b>Data sets: </b></span>
    <ul>
      <li *ngFor="let dataSetId of target.qc_data_set_ids">
        <i>{{ dataSetId }}</i>
      </li>
    </ul>
  </mat-card-content>
</mat-card>
