<app-loadable [loadable]="project$ | async">
  <h3 [routerLink]="['/', 'projects', (project$ | async).id]">
    {{ (project$ | async).name | uppercase }}
  </h3>
</app-loadable>
<mat-tree [dataSource]="dataSource" [treeControl]="treeControl">
  <!-- This is the tree node template for leaf nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node"
    matTreeNodePadding
    matTreeNodePaddingIndent="20"
  >
    <!-- use a disabled button to provide padding for tree leaf -->
    <button disabled mat-icon-button></button>
    <span [routerLink]="[node.url]">{{ node.name | uppercase }}</span>
  </mat-tree-node>
  <!-- This is the tree node template for expandable nodes -->
  <mat-tree-node
    *matTreeNodeDef="let node; when: hasChild"
    matTreeNodePadding
    matTreeNodePaddingIndent="20"
  >
    <button
      [attr.aria-label]="'Toggle ' + node.name"
      disableRipple
      mat-icon-button
      matTreeNodeToggle
    >
      <mat-icon class="mat-icon-rtl-mirror">
        {{ treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right' }}
      </mat-icon>
    </button>
    <span [routerLink]="[node.url]">{{ node.name | uppercase }}</span>
  </mat-tree-node>
</mat-tree>
