<mat-card class="optimization__card">
  <mat-card-title>{{ optimization.name }}</mat-card-title>
  <mat-card-content>{{ optimization.description.split('.')[0] }}.</mat-card-content>
  <mat-divider inset></mat-divider>
  <mat-card-actions>
    <div fxFlex></div>
    <a [routerLink]="['optimizations', optimization.id]"
      ><button mat-button>MORE</button></a
    >
    <a [routerLink]="['optimizations', optimization.id, 'results']"
      ><button mat-button>RESULTS</button></a
    >
  </mat-card-actions>
</mat-card>
