<div fxLayout="column" fxLayoutAlign="center center" fxLayoutGap="2rem">
  <h3>{{ title }}</h3>

  <div fxFill fxLayout="columns" fxLayoutGap="20px" class="root__container">
    <mat-card fxFlex="100" class="dataset__card_container">
      <mat-grid-list [cols]="nColumns" rowHeight="1:1" gutterSize="20px">
        <mat-grid-tile
          matRipple
          *ngFor="let pair of _dataSet | keyvalue"
          [colspan]="pair.key.split(' + ').length"
          class="tile__container"
          (click)="openEntryDialog(pair.key, pair.value)"
        >
          <img
            [alt]="pair.key"
            *ngFor="let smiles of pair.key.split(' + ')"
            [src]="'http://127.0.0.1:5000/api/v1/molecules/' + smiles + '/image/'"
            height="100%"
          />
        </mat-grid-tile>
      </mat-grid-list>
    </mat-card>
  </div>
</div>
