:host {
  height: 100%;
  min-height: 100%;
  min-width: 100%;
  width: 100%;
  flex-direction: column;
  box-sizing: border-box;
  display: flex;
}

.root__container {
  height: 100%;
  width: 100%;
}

.sidebar__button {
  position: fixed;
  left: 20px;
  top: 80px;
  z-index: 500;
}

.sidebar__container {
  flex-grow: 1;
}

.sidebar__nav {
  width: 20rem;
}

.sidenav__inner-content {
  width: 100%;
  overflow: scroll;
}
