<!--The design of this container is based upon that used for the main
https://material.angular.io/ site.-->
<mat-sidenav-container class="root-sidenav-container">
  <mat-sidenav
    #rootSidenav
    class="root-sidenav"
    *ngIf="isSmallScreen$ | async"
    [opened]="(isSmallScreen$ | async) === false"
    [mode]="(isSmallScreen$ | async) ? 'over' : 'side'"
    [fixedInViewport]="isSmallScreen$ | async"
    [fixedTopGap]="56"
  >
    <app-navigation-tree></app-navigation-tree>
  </mat-sidenav>

  <div class="root-sidenav-content">
    <mat-toolbar *ngIf="(isSmallScreen$ | async) === true" color="secondary">
      <button (click)="toggleSidenav(rootSidenav)" mat-icon-button>
        <mat-icon>menu</mat-icon>
      </button>
    </mat-toolbar>

    <div class="root-sidenav-inner-content">
      <main class="root-sidenav-body-content">
        <app-navigation-tree
          *ngIf="(isSmallScreen$ | async) === false"
        ></app-navigation-tree>
        <router-outlet></router-outlet>
      </main>
    </div>
  </div>
</mat-sidenav-container>
