<app-loadable [loadable]="project$ | async" class="root__container">
  <mat-sidenav-container class="root__container">
    <mat-sidenav [(opened)]="navbarOpen" class="sidebar__nav" mode="over">
      <app-navigation-tree></app-navigation-tree>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="root__container" fxLayout="row">
        <button
          (click)="navbarOpen = !navbarOpen"
          class="sidebar__button"
          color="primary"
          mat-mini-fab
        >
          <mat-icon> menu</mat-icon>
        </button>
        <div class="sidenav__inner-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-loadable>
