:host {
  display: flex;
  flex-direction: column;
  overflow: auto;
}

.root-sidenav-container {
  flex: 1;
  box-sizing: border-box;
}

.root-sidenav {
  overflow: auto;
}

.root-sidenav-content {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.root-sidenav-inner-content {
  display: flex;
  flex-direction: column;
  flex: 1;
}

.root-sidenav-body-content {
  display: flex;
  flex: 1 1 auto;
}

// Small screens.
@media (max-width: 939px) {
  .root-sidenav-container .root-sidenav {
    z-index: 4;
  }
}
