<app-loadable [loadable]="project$ | async" class="root__container">
  <mat-sidenav-container class="root__container">
    <mat-sidenav [(opened)]="navbarOpen" class="sidebar__nav" mode="over">
      <app-navigation-tree></app-navigation-tree>
    </mat-sidenav>

    <mat-sidenav-content>
      <div class="root__container" fxLayout="row">
        <div class="sidenav__button-container">
          <button
            (click)="navbarOpen = !navbarOpen"
            class="sidebar__button"
            color="primary"
            mat-mini-fab
          >
            <mat-icon *ngIf="navbarOpen"> menu_open</mat-icon>
            <mat-icon *ngIf="!navbarOpen"> menu</mat-icon>
          </button>
        </div>
        <div class="sidenav__inner-content">
          <router-outlet></router-outlet>
        </div>
      </div>
    </mat-sidenav-content>
  </mat-sidenav-container>
</app-loadable>
