:host {
  padding: 20px 50px;
  width: 100%;
}

.content-card {
  .mat-card-subtitle {
    margin: 10px 0 10px;
  }

  .mat-divider {
    margin-bottom: 16px;
  }
}

.specification__text span {
  margin: 3px 0 3px 10px;
  display: block;
}

ul.handler-list {
  list-style: none;
  padding-inline-start: 10px;
  margin: 3px 0 3px 0;
}

ul.handler-list li ul li {
  line-height: 26px;
}

