<app-loadable [loadable]="project$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="page__container"
  >

    <h2>Studies</h2>

    <mat-card class="project__card" *ngFor="let study of (project$ | async).studies">
      <mat-card-title class="study__card-header">{{ study.name }}</mat-card-title>
      <br />
      <div class="project__card-text">{{ study.description.split('\n')[0] }}</div>
      <mat-card-actions>
        <div fxFlex></div>
        <a [routerLink]="[study.id]"><button mat-button>MORE</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</app-loadable>
