<app-loadable [loadable]="study$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="page__container"
  >
    <h1>Test Set</h1>

    <mat-form-field>
      <mat-select
        placeholder="Select a benchmark"
        (selectionChange)="onBenchmarkChanged($event)"
        [value]="(routerInfo$ | async).params.benchmarkId"
      >
        <mat-option
          *ngFor="let benchmark of (study$ | async).benchmarks"
          [value]="benchmark.id"
        >
          {{ benchmark.name }}
        </mat-option>
      </mat-select>
    </mat-form-field>

    <router-outlet></router-outlet>
  </div>
</app-loadable>
