<app-loadable [loadable]="study$ | async" class="root__container">
  <div fxLayout="column" fxFill class="dataset__container" fxLayoutGap="20px">
    <div>
      <mat-card>
        <h3>Benchmark Test Set</h3>

        <mat-form-field>
          <mat-select
            placeholder="Select a benchmark"
            (selectionChange)="onBenchmarkChanged($event)"
            [value]="(routerInfo$ | async).params.benchmarkId"
          >
            <mat-option
              *ngFor="let benchmark of (study$ | async).benchmarks"
              [value]="benchmark.id"
            >
              {{ benchmark.name }}
            </mat-option>
          </mat-select>
        </mat-form-field>
      </mat-card>
    </div>
    <div class="inner__container">
      <router-outlet></router-outlet>
    </div>
  </div>
</app-loadable>
