<app-loadable [loadable]="project$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="page__container"
  >
    <mat-card class="project__card">
      <mat-card-title class="project__card-header">{{
        (project$ | async).name
      }}</mat-card-title>

      <mat-list class="list-horizontal">
        <mat-list-item *ngFor="let author of (project$ | async).authors">
          <mat-icon matListIcon>account_circle</mat-icon>
          <p matLine>{{ author.name }}</p>
        </mat-list-item>
      </mat-list>

      <app-text-description
        text="{{ (project$ | async).description }}"
      ></app-text-description>
    </mat-card>
    <h2>Studies</h2>
    <app-study-list
      [baseRouteUrl]="'studies'"
      [studies]="(project$ | async).studies"
    ></app-study-list>
  </div>
</app-loadable>
