<app-loadable [loadable]="project$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="page__container"
  >
    <mat-card class="project__card">
      <mat-card-title class="project__card-header">{{
        (project$ | async).title
      }}</mat-card-title>

      <h3>Authors</h3>

      <ul class="project__card-list">
        <li *ngFor="let author of (project$ | async).authors">{{ author.name }}</li>
      </ul>

      <h3>Abstract</h3>

      <div class="project__card-text">{{ (project$ | async).abstract }}</div>

      <br />

      <h3>Studies</h3>

      <ul class="project__card-list">
        <li *ngFor="let study of (project$ | async).studies">
          <a [routerLink]="['studies', study.identifier]">{{ study.title }}</a>
        </li>
      </ul>
    </mat-card>
  </div>
</app-loadable>
