<app-loadable [loadable]="project$ | async" class="root__container">
  <div
    fxLayout="column"
    fxLayoutAlign="center center"
    fxLayoutGap="2rem"
    class="page__container"
  >
    <mat-card class="project__card">
      <mat-card-title class="project__card-header">{{
        (project$ | async).name
      }}</mat-card-title>

      <mat-list class="list-horizontal">
        <mat-list-item *ngFor="let author of (project$ | async).authors">
          <mat-icon matListIcon>account_circle</mat-icon>
          <p matLine>{{ author.name }}</p>
        </mat-list-item>
      </mat-list>

      <div class="project__card-text">{{ (project$ | async).description }}</div>
    </mat-card>

    <h2>Studies</h2>

    <mat-card class="project__card" *ngFor="let study of (project$ | async).studies">
      <mat-card-title class="study__card-header">{{ study.name }}</mat-card-title>
      <br />
      <div class="project__card-text">{{ study.description.split('\n')[0] }}</div>
      <mat-card-actions>
        <div fxFlex></div>
        <a [routerLink]="['studies', study.id]"><button mat-button>MORE</button></a>
      </mat-card-actions>
    </mat-card>
  </div>
</app-loadable>
